@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, body, ul, ol, dl {
  margin: 0;
}

$verylightgray: hsl(0, 0%, 95%);

html, body {
  width: 100%;
  height: 100%;
  min-width: 100svw;
  min-height: 100svh;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: lightgrey;
  color: hsla(0, 0%, 100%, 0.75);
}

main {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .container {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;
  
    .sedan {
      background-color: hsl(31, 77%, 52%);
      button { color: hsl(31, 77%, 52%); }
    }
    .suv {
      background-color: hsl(184, 100%, 22%);
      button { color: hsl(184, 100%, 22%); }
    }
    .luxury {
      background-color: hsl(179, 100%, 13%);
      button { color: hsl(179, 100%, 13%); }
    }

    .card {
      display: inline;
      padding: 2.5rem;

      h1 {
        margin: 1.5rem 0;
        font-size: 2rem;
        font-weight: 700;
        font-family: 'Big Shoulders Display';
        color: $verylightgray;
        text-transform: uppercase;
      }

      p {
        line-height: 1.75rem;
      }

      button {
        border-radius: 50px;
        border: none;
        padding: 0.75rem 1.5rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 40rem) {
  main {
    .container {
      flex-direction: row;
      max-width: unset;

      .card p {
        margin-bottom: 3rem;
        max-width: 12rem;
      }
    }
  }
}
