@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');

$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 94%);
  height: 100svh;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex-direction: column;
  border-radius: 1.5rem;
  background-color: white;
  padding: 1.5rem;
  border-bottom-right-radius: 10rem;
  width: 38rem;

  .separator {
    display: flex;
    align-items: center;
    justify-content: right;

    &::before {
      content: '';
      flex: 1;
      border-bottom: 1px solid hsl(0, 0%, 86%);
    }
      
    &:not(:empty)::before {
      margin-right: .25em;
    }
    
    &:not(:empty)::after {
      margin-left: .25em;
    }

    a {
      float: right;
    }

    img {
      padding: 0.8rem;
      border-radius: 50px;
      background-color: $purple;

      &:hover {
        background-color: hsl(0, 0%, 8%); 
      }
    }
  }

  form {
    display: flex;

    fieldset {
      border: none;
      margin: 0;

      label {
        display: block;
        font-size: 14px;
        letter-spacing: 2px;
        color: hsl(0, 1%, 44%);
      }

      &:invalid {
        label {
          color: $light-red;
        }
        input {
          border-color: $light-red;
        }
      }
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance:textfield;
    }

    input[type="number"] {
      font-size: 2rem;
      font-weight: 700;
      width: 7rem;
      padding: 0.6rem;
      border: none;
      border: solid 1px #ccc;
      border-radius: 0.5rem;
      caret-color: transparent;

      &:focus {
        outline: none;
        border-color: $purple;
      }
    }

    span {
      display: block;
    }

    input:invalid:required + span:after {
      content: "This Field is Required";
      color: $light-red;
      font-style: italic;
      font-size: 0.7rem;
    }

  }

  p {

    span {
      color: $purple;
    }

    display: block;
    font-weight: 800;
    font-size: 5rem;
    font-style: italic;
    line-height: 1;
    margin: 0
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 10px;
  }
  main {
    width: 300px;
    padding: 1rem;

    .separator {
      &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid hsl(0, 0%, 86%);
      }
    }

    // input[type="number"] {
    //   margin: 1rem;
    // }
  }
}
